body{
	font-family:arial;
	font-size:15px;
	line-height:1.6em;
	background:#D0D0D0;
}

h1{
	text-align:center;
	}

#firstdiv{
	border:1px solid black;
	border-radius:5px;
	margin:35px 35px ;
	height:40px;
	background:#404040;
	}	
	
a.start{
	display:inline-block;
	background:#f4f4f4;
	color:black;
	padding:6px 13px;
	border:1px dotted #ccc;
}
	

#thirddiv{
	text-align:center;
	height:40px;
	font-size:20px;
	}
	
#admintable{
	background:#404040;
	margin-left:33%;
	color:#D8D8D8;
	}	

#paytable{
	background:#404040;
	margin-left:29%;
	color:#D8D8D8;
	}	
	
#logintable{
	background:#404040;
	margin-left:35%;
	color:#D8D8D8;
	}	

#signintable{
	background:#404040;
	margin-left:32%;
	color:#D8D8D8;
	}		
	
a{
	color:#D8D8D8;
	text-decoration:none;
}

#copyright{
	text-align:center;
	color:blue;
	}	
	
#innerdiv{
	height:15px;
	background:#888888;
	}	

#header{
	background:#989898;
	}	

.spans{
	color:#D8D8D8;
	}	
	
#mdiv1{
	float:left;
	margin-left:25px;
	

}

#mdiv2{
	float:left;
	margin-left:40px;
}

#mdiv3{
	float:right;
	margin-right:50px;
}

#mdiv6{
	float:right;
	margin-right:100px;
}


#hdiv3{
	float:right;
	margin-right:50px;
}	

#hdiv2{
	float:right;
	margin-right:70px;
}	

a.links{
	color:blue;
	font-size:20px
}	


